 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/IMG_5564-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 692px;
}

.u-section-1 .u-slider-1 {
  min-height: 532px;
  width: 471px;
  margin: 80px auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 22px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/IMG_5665-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 80px 45px;
}

.u-section-1 .u-text-1 {
  line-height: 1.2;
  font-size: 3.75rem;
  margin: 154px 0 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG_5671-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.2;
  font-size: 3.75rem;
  margin: 154px 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: -85px;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  background-image: none;
  right: -85px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 26px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 60px 30px 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 411px;
    height: auto;
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: 31px;
    margin-bottom: 31px;
    width: 100%;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 14px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-carousel-control-1 {
    left: -56px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: -56px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1610px;
}

.u-section-2 .u-group-elements-1 {
  width: 1137px;
  min-height: 322px;
  margin: 56px auto 0;
}

.u-section-2 .u-text-1 {
  line-height: 2;
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 1px 0 0 554px;
}

.u-section-2 .u-image-1 {
  width: 475px;
  height: 317px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -275px auto 0 0;
}

.u-section-2 .u-tabs-1 {
  min-height: 596px;
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 22px;
}

.u-section-2 .u-image-2 {
  width: 503px;
  height: 363px;
  box-shadow: -14px 14px 32px 0px rgba(128,128,128,0.9);
  margin: 67px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: -368px 8px 0 530px;
}

.u-section-2 .u-text-3 {
  margin: 23px 8px 0 530px;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 27px auto 0 518px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  line-height: 1.8;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-gallery-1 {
  height: 520px;
  margin-top: 27px;
  margin-bottom: 27px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 9px;
}

.u-section-2 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  left: 0;
  top: 0;
}

.u-section-2 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-slide-6 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-slide-7 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-slide-8 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1594px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 925px;
    min-height: 359px;
    height: auto;
    margin-top: 68px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 7px;
    margin-left: 464px;
  }

  .u-section-2 .u-image-1 {
    width: 450px;
    height: 352px;
    margin-top: -359px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 568px;
    height: auto;
    margin-top: 85px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-2 .u-image-2 {
    width: 341px;
    height: 320px;
    margin-top: 61px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -363px;
    margin-right: 0;
    margin-left: 359px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 370px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 374px;
  }

  .u-section-2 .u-gallery-1 {
    height: 424px;
    margin-top: 68px;
    margin-bottom: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3018px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 749px;
    margin-top: 63px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 401px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 666px;
    margin-top: -677px;
    margin-left: auto;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 915px;
    margin-top: 23px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    width: 550px;
    height: 302px;
    margin-top: 23px;
    margin-right: 85px;
    margin-left: 55px;
  }

  .u-section-2 .u-text-2 {
    width: 461px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 461px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 16px;
    margin-left: 154px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-gallery-1 {
    height: 1192px;
    margin-top: 38px;
    margin-bottom: 38px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5342px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 678px;
    margin-top: 44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 363px;
  }

  .u-section-2 .u-image-1 {
    height: 286px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-tabs-1 {
    margin-top: 44px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 520px;
    height: 286px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 72px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 72px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3575px;
    margin-top: 44px;
    margin-bottom: 44px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4306px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 923px;
    margin-top: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 291px;
  }

  .u-section-2 .u-image-1 {
    height: 246px;
    margin-top: -815px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 1012px;
    margin-top: 28px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 12px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2251px;
    margin-top: 68px;
    margin-bottom: 35px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 605px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 40px auto 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 8px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1007px;
  margin: 24px auto 50px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 412px;
}

.u-section-3 .u-container-layout-1 {
  padding: 14px 0 15px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 1px 5px 0 15px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 5px 0 15px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 10px 0 0 10px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-map-1 {
  width: 316px;
  height: 149px;
  margin: 24px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 412px;
}

.u-section-3 .u-container-layout-2 {
  padding: 14px 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 32px 10px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -152px 10px 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 126px 10px 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-map-2 {
  width: 316px;
  height: 149px;
  margin: 24px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 412px;
}

.u-section-3 .u-container-layout-3 {
  padding: 14px 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 10px;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 0 10px;
}

.u-section-3 .u-text-10 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 6px 10px 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-map-3 {
  height: 149px;
  width: 316px;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 14px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-map-1 {
    width: 302px;
    height: 144px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: -156px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 131px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-map-2 {
    height: 143px;
    width: 301px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 458px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 11px;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-3 .u-map-3 {
    height: 143px;
    width: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-map-1 {
    width: 229px;
    height: 133px;
    margin-top: 23px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 406px;
  }

  .u-section-3 .u-btn-4 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-map-2 {
    height: 133px;
    width: 228px;
    margin-top: 23px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 406px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-6 {
    color: rgba(0, 0, 0, 0);
    font-size: 0.75rem;
  }

  .u-section-3 .u-map-3 {
    height: 133px;
    width: 228px;
    margin-top: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-map-1 {
    width: 424px;
    height: 134px;
    margin-top: 22px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -116px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 91px;
  }

  .u-section-3 .u-btn-4 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-map-2 {
    width: 424px;
    height: 134px;
    margin-top: 22px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 394px;
  }

  .u-section-3 .u-btn-6 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-map-3 {
    width: 424px;
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1378px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-map-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 56px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -176px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 151px;
  }

  .u-section-3 .u-map-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 422px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-3 .u-map-3 {
    width: 340px;
  }
}