 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/IMG_5509-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 692px;
}

.u-section-1 .u-slider-1 {
  min-height: 532px;
  width: 471px;
  margin: 80px auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 22px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/IMG_5499-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0 45px;
}

.u-section-1 .u-text-1 {
  line-height: 1.2;
  font-size: 3.75rem;
  margin: 154px 0 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG_5493-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.2;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: -85px;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  background-image: none;
  right: -85px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 190px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 26px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 60px 30px 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 412px;
    height: auto;
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 411px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 14px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-carousel-control-1 {
    left: -56px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: -56px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1718px;
}

.u-section-2 .u-group-elements-1 {
  width: 1122px;
  min-height: 376px;
  margin: 81px auto 0;
}

.u-section-2 .u-text-1 {
  line-height: 2;
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 552px;
}

.u-section-2 .u-image-1 {
  width: 475px;
  height: 317px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -347px auto 0 0;
}

.u-section-2 .u-tabs-1 {
  min-height: 596px;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 22px;
}

.u-section-2 .u-text-2 {
  margin: 57px 31px 0 508px;
}

.u-section-2 .u-image-2 {
  width: 490px;
  height: 326px;
  box-shadow: -14px 14px 32px 0px rgba(128,128,128,0.9);
  margin: 0 auto 0 8px;
}

.u-section-2 .u-text-3 {
  margin: -305px 25px 0 513px;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  margin: 25px 25px 0 513px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 17px;
}

.u-section-2 .u-text-5 {
  line-height: 1.8;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-gallery-1 {
  height: 520px;
  margin-top: 81px;
  margin-bottom: 25px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 9px;
}

.u-section-2 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  left: 0;
  top: 0;
}

.u-section-2 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-slide-6 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-slide-7 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-slide-8 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1783px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 480px;
    margin-top: 73px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 449px;
  }

  .u-section-2 .u-image-1 {
    width: 420px;
    height: 362px;
    margin-top: -421px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 612px;
    height: auto;
    margin-top: 69px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 47px;
    margin-right: 0;
    margin-left: 422px;
  }

  .u-section-2 .u-image-2 {
    width: 395px;
    margin-top: 18px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -326px;
    margin-right: 21px;
    margin-left: 424px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-right: 0;
    margin-left: 424px;
  }

  .u-section-2 .u-gallery-1 {
    height: 451px;
    margin-top: 79px;
    margin-bottom: 56px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3266px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 802px;
    margin-top: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 422px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 585px;
    margin-top: -714px;
    margin-left: auto;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 925px;
    margin-top: 45px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-text-2 {
    width: 490px;
    margin-top: 397px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 296px;
    margin-top: -398px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: 490px;
    margin-top: 115px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 490px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-gallery-1 {
    height: 1393px;
    margin-bottom: 28px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6170px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 851px;
    margin-top: 46px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 407px;
  }

  .u-section-2 .u-image-1 {
    height: 360px;
    margin-top: -851px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-tabs-1 {
    margin-top: 140px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 383px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-image-2 {
    width: 512px;
    height: 281px;
    margin-top: -384px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 110px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 4178px;
    margin-top: 81px;
    margin-bottom: 46px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4727px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 1016px;
    margin-top: 52px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 387px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1016px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 953px;
    margin-top: 25px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 240px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 175px;
    width: 332px;
    margin-top: -260px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 2631px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 631px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 40px auto 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 8px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1007px;
  margin: 10px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 470px;
}

.u-section-3 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 45px 8px 0 12px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 10px 0 0 10px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-map-1 {
  width: 316px;
  height: 149px;
  margin: 24px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 442px;
}

.u-section-3 .u-container-layout-2 {
  padding: 16px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 44px 10px 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 10px 10px 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-map-2 {
  width: 316px;
  height: 149px;
  margin: 24px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 442px;
}

.u-section-3 .u-container-layout-3 {
  padding: 16px 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 44px 10px 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 10px 10px 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-map-3 {
  height: 149px;
  width: 316px;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-map-1 {
    width: 298px;
    height: 142px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-map-2 {
    width: 297px;
    height: 141px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 413px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-map-3 {
    height: 142px;
    width: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 24px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 398px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-map-1 {
    width: 212px;
    height: 126px;
    margin-top: 31px;
    margin-right: 14px;
    margin-left: 14px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-3 .u-btn-4 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-map-2 {
    width: 212px;
    height: 125px;
    margin-top: 31px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 398px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-3 .u-btn-6 {
    color: rgba(0, 0, 0, 0);
    font-size: 0.75rem;
  }

  .u-section-3 .u-map-3 {
    height: 125px;
    width: 212px;
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 390px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-map-1 {
    width: 444px;
    height: 142px;
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-3 .u-btn-4 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-map-2 {
    width: 444px;
    height: 141px;
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 390px;
  }

  .u-section-3 .u-btn-6 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-map-3 {
    height: 141px;
    width: 444px;
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-map-1 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-map-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-map-3 {
    width: 340px;
  }
}